{
  "openapi": "3.1.0",
  "info": {
    "title": "M2MCent Ecosystem 1000 Agentic Services",
    "description": "The largest decentralized Machine-to-Machine API ecosystem powered by the x402 standard.",
    "version": "1.0.0",
    "x-guidance": "Use POST /agentic-payroll-processor-mcp/api/process to process automated agentic payrolls on Base Mainnet.",
    "contact": {
      "email": "contact@m2mcent.com"
    }
  },
  "servers": [
    {
      "url": "https://api.m2mcent.com",
      "description": "M2MCent API Gateway"
    }
  ],
  "x-discovery": {
    "ownershipProofs": [
      "0x45d796e1b593d5105df62acc7df716a7e4b0ed7a7fc64402124795fffaafd0085e8583f77378c94cdd3528544fa617cd62e54add9e9ab7896d595bca0d5476501c",
      "0xb34dcd3a71d26b992eb8875abe6ecd20886282afc79c137e57d6895e0d5dcaea0b440aa41b7a496365c20d2e8c98c1c4fa4a6a1290f51a3f135fb0073ce89fa11c"
    ]
  },
  "ownershipProofs": [
    {
      "address": "0x930Dea6e32F07e06711B3966Ab5e8962551082C1",
      "signature": "0x45d796e1b593d5105df62acc7df716a7e4b0ed7a7fc64402124795fffaafd0085e8583f77378c94cdd3528544fa617cd62e54add9e9ab7896d595bca0d5476501c"
    },
    {
      "address": "0x930Dea6e32F07e06711B3966Ab5e8962551082C1",
      "signature": "0xb34dcd3a71d26b992eb8875abe6ecd20886282afc79c137e57d6895e0d5dcaea0b440aa41b7a496365c20d2e8c98c1c4fa4a6a1290f51a3f135fb0073ce89fa11c"
    }
  ],
  "paths": {
    "/agentic-payroll-processor-mcp/api/process": {
      "post": {
        "operationId": "processAgenticPayroll",
        "summary": "Execute agentic-payroll-processor-mcp",
        "description": "Premium agentic endpoint for agentic-payroll-processor-mcp. Requires x402 payment in Base Mainnet.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.150000"
          },
          "protocols": [
            {
              "x402": {
                "payTo": "0x930Dea6e32F07e06711B3966Ab5e8962551082C1",
                "network": "eip155:8453",
                "currency": "USDC"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payrollData": {
                    "type": "string",
                    "description": "JSON payroll data"
                  }
                },
                "required": ["payrollData"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "txHash": {
                      "type": "string"
                    }
                  },
                  "required": ["success"]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "extensions": {
          "bazaar": {
            "schema": {
              "properties": {
                "input": {
                  "type": "object",
                  "properties": {
                    "payrollData": {
                      "type": "string"
                    }
                  },
                  "required": ["payrollData"]
                },
                "output": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": ["success"]
                }
              }
            }
          }
        }
      }
    }
  }
}