{
  "openapi": "3.1.0",
  "info": {
    "title": "M2MCent Ecosystem 1000 Agentic Services",
    "description": "The largest decentralized Machine-to-Machine API ecosystem powered by the x402 standard.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.m2mcent.com",
      "description": "M2MCent API Gateway"
    }
  ],
  "paths": {
    "/3d-meshweaver-mcp/api/process": {
      "post": {
        "summary": "Execute 3d-meshweaver-mcp",
        "description": "Premium agentic endpoint for 3d-meshweaver-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/3d-pallet-packing-mcp/api/process": {
      "post": {
        "summary": "Execute 3d-pallet-packing-mcp",
        "description": "Premium agentic endpoint for 3d-pallet-packing-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/4-20ma-analog-converter-mcp/api/process": {
      "post": {
        "summary": "Execute 4-20ma-analog-converter-mcp",
        "description": "Premium agentic endpoint for 4-20ma-analog-converter-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/5g-core-nfv-mcp/api/process": {
      "post": {
        "summary": "Execute 5g-core-nfv-mcp",
        "description": "Premium agentic endpoint for 5g-core-nfv-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/90-percent-liquidity-advance-mcp/api/process": {
      "post": {
        "summary": "Execute 90-percent-liquidity-advance-mcp",
        "description": "Premium agentic endpoint for 90-percent-liquidity-advance-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/accounts-receivable-ledger-mcp/api/process": {
      "post": {
        "summary": "Execute accounts-receivable-ledger-mcp",
        "description": "Premium agentic endpoint for accounts-receivable-ledger-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/acoustic-reverb-simulator-mcp/api/process": {
      "post": {
        "summary": "Execute acoustic-reverb-simulator-mcp",
        "description": "Premium agentic endpoint for acoustic-reverb-simulator-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/active-seat-metering-mcp/api/process": {
      "post": {
        "summary": "Execute active-seat-metering-mcp",
        "description": "Premium agentic endpoint for active-seat-metering-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/actuarial-life-table-mcp/api/process": {
      "post": {
        "summary": "Execute actuarial-life-table-mcp",
        "description": "Premium agentic endpoint for actuarial-life-table-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ad-fraud-click-detector-mcp/api/process": {
      "post": {
        "summary": "Execute ad-fraud-click-detector-mcp",
        "description": "Premium agentic endpoint for ad-fraud-click-detector-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ad-sniper-mcp/api/process": {
      "post": {
        "summary": "Execute ad-sniper-mcp",
        "description": "Premium agentic endpoint for ad-sniper-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ad-spend-auditor-mcp/api/process": {
      "post": {
        "summary": "Execute ad-spend-auditor-mcp",
        "description": "Premium agentic endpoint for ad-spend-auditor-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/adsb-flight-tracker-mcp/api/process": {
      "post": {
        "summary": "Execute adsb-flight-tracker-mcp",
        "description": "Premium agentic endpoint for adsb-flight-tracker-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/adversarial-prompt-shield-mcp/api/process": {
      "post": {
        "summary": "Execute adversarial-prompt-shield-mcp",
        "description": "Premium agentic endpoint for adversarial-prompt-shield-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/adversarial-suffix-mcp/api/process": {
      "post": {
        "summary": "Execute adversarial-suffix-mcp",
        "description": "Premium agentic endpoint for adversarial-suffix-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/aegis-policy-mcp/api/process": {
      "post": {
        "summary": "Execute aegis-policy-mcp",
        "description": "Premium agentic endpoint for aegis-policy-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/affiliate-link-attribution-mcp/api/process": {
      "post": {
        "summary": "Execute affiliate-link-attribution-mcp",
        "description": "Premium agentic endpoint for affiliate-link-attribution-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/afforestation-satellite-mcp/api/process": {
      "post": {
        "summary": "Execute afforestation-satellite-mcp",
        "description": "Premium agentic endpoint for afforestation-satellite-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-collision-preventer-mcp/api/process": {
      "post": {
        "summary": "Execute agent-collision-preventer-mcp",
        "description": "Premium agentic endpoint for agent-collision-preventer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-collusion-detector-mcp/api/process": {
      "post": {
        "summary": "Execute agent-collusion-detector-mcp",
        "description": "Premium agentic endpoint for agent-collusion-detector-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-council-voting-mcp/api/process": {
      "post": {
        "summary": "Execute agent-council-voting-mcp",
        "description": "Premium agentic endpoint for agent-council-voting-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-credit-history-mcp/api/process": {
      "post": {
        "summary": "Execute agent-credit-history-mcp",
        "description": "Premium agentic endpoint for agent-credit-history-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-phone-mcp/api/process": {
      "post": {
        "summary": "Execute agent-phone-mcp",
        "description": "Premium agentic endpoint for agent-phone-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-reputation-zk-shield-mcp/api/process": {
      "post": {
        "summary": "Execute agent-reputation-zk-shield-mcp",
        "description": "Premium agentic endpoint for agent-reputation-zk-shield-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-slashing-protocol-mcp/api/process": {
      "post": {
        "summary": "Execute agent-slashing-protocol-mcp",
        "description": "Premium agentic endpoint for agent-slashing-protocol-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agent-telephony-mcp/api/process": {
      "post": {
        "summary": "Execute agent-telephony-mcp",
        "description": "Premium agentic endpoint for agent-telephony-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agentic-credit-line-issuer-mcp/api/process": {
      "post": {
        "summary": "Execute agentic-credit-line-issuer-mcp",
        "description": "Premium agentic endpoint for agentic-credit-line-issuer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agentic-ip-reputation-guard-mcp/api/process": {
      "post": {
        "summary": "Execute agentic-ip-reputation-guard-mcp",
        "description": "Premium agentic endpoint for agentic-ip-reputation-guard-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agentic-payroll-processor-mcp/api/process": {
      "post": {
        "summary": "Execute agentic-payroll-processor-mcp",
        "description": "Premium agentic endpoint for agentic-payroll-processor-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agentphone-ai-mcp/api/process": {
      "post": {
        "summary": "Execute agentphone-ai-mcp",
        "description": "Premium agentic endpoint for agentphone-ai-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/agile-sprint-mcp/api/process": {
      "post": {
        "summary": "Execute agile-sprint-mcp",
        "description": "Premium agentic endpoint for agile-sprint-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ai-fleet-cards-mcp/api/process": {
      "post": {
        "summary": "Execute ai-fleet-cards-mcp",
        "description": "Premium agentic endpoint for ai-fleet-cards-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ai-humanizer-mcp/api/process": {
      "post": {
        "summary": "Execute ai-humanizer-mcp",
        "description": "Premium agentic endpoint for ai-humanizer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ai-right-to-opt-out-gate-mcp/api/process": {
      "post": {
        "summary": "Execute ai-right-to-opt-out-gate-mcp",
        "description": "Premium agentic endpoint for ai-right-to-opt-out-gate-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ai-safety-incident-logger-mcp/api/process": {
      "post": {
        "summary": "Execute ai-safety-incident-logger-mcp",
        "description": "Premium agentic endpoint for ai-safety-incident-logger-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ai-watermark-provenance-verifier-mcp/api/process": {
      "post": {
        "summary": "Execute ai-watermark-provenance-verifier-mcp",
        "description": "Premium agentic endpoint for ai-watermark-provenance-verifier-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/air-freight-waybill-mcp/api/process": {
      "post": {
        "summary": "Execute air-freight-waybill-mcp",
        "description": "Premium agentic endpoint for air-freight-waybill-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/airbnb-host-analyzer-mcp/api/process": {
      "post": {
        "summary": "Execute airbnb-host-analyzer-mcp",
        "description": "Premium agentic endpoint for airbnb-host-analyzer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/airbnb-smart-lock-mcp/api/process": {
      "post": {
        "summary": "Execute airbnb-smart-lock-mcp",
        "description": "Premium agentic endpoint for airbnb-smart-lock-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/airport-slot-allocator-mcp/api/process": {
      "post": {
        "summary": "Execute airport-slot-allocator-mcp",
        "description": "Premium agentic endpoint for airport-slot-allocator-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ais-vessel-tracker-mcp/api/process": {
      "post": {
        "summary": "Execute ais-vessel-tracker-mcp",
        "description": "Premium agentic endpoint for ais-vessel-tracker-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/akamai-bot-manager-bypass-mcp/api/process": {
      "post": {
        "summary": "Execute akamai-bot-manager-bypass-mcp",
        "description": "Premium agentic endpoint for akamai-bot-manager-bypass-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/albedo-delighter-mcp/api/process": {
      "post": {
        "summary": "Execute albedo-delighter-mcp",
        "description": "Premium agentic endpoint for albedo-delighter-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/algorithmic-bias-scrubber-mcp/api/process": {
      "post": {
        "summary": "Execute algorithmic-bias-scrubber-mcp",
        "description": "Premium agentic endpoint for algorithmic-bias-scrubber-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/alibaba-supplier-intel-mcp/api/process": {
      "post": {
        "summary": "Execute alibaba-supplier-intel-mcp",
        "description": "Premium agentic endpoint for alibaba-supplier-intel-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/aliexpress-dropship-finder-mcp/api/process": {
      "post": {
        "summary": "Execute aliexpress-dropship-finder-mcp",
        "description": "Premium agentic endpoint for aliexpress-dropship-finder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/amazon-price-tracker-mcp/api/process": {
      "post": {
        "summary": "Execute amazon-price-tracker-mcp",
        "description": "Premium agentic endpoint for amazon-price-tracker-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ambient-occlusion-map-mcp/api/process": {
      "post": {
        "summary": "Execute ambient-occlusion-map-mcp",
        "description": "Premium agentic endpoint for ambient-occlusion-map-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ambisonics-b-format-encoder-mcp/api/process": {
      "post": {
        "summary": "Execute ambisonics-b-format-encoder-mcp",
        "description": "Premium agentic endpoint for ambisonics-b-format-encoder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/amr-fleet-dispatcher-mcp/api/process": {
      "post": {
        "summary": "Execute amr-fleet-dispatcher-mcp",
        "description": "Premium agentic endpoint for amr-fleet-dispatcher-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/angellist-startup-jobs-mcp/api/process": {
      "post": {
        "summary": "Execute angellist-startup-jobs-mcp",
        "description": "Premium agentic endpoint for angellist-startup-jobs-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/anomaly-detection-sentinel-mcp/api/process": {
      "post": {
        "summary": "Execute anomaly-detection-sentinel-mcp",
        "description": "Premium agentic endpoint for anomaly-detection-sentinel-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/anonymous-credential-issuer-mcp/api/process": {
      "post": {
        "summary": "Execute anonymous-credential-issuer-mcp",
        "description": "Premium agentic endpoint for anonymous-credential-issuer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/anti-collusion-detector-mcp/api/process": {
      "post": {
        "summary": "Execute anti-collusion-detector-mcp",
        "description": "Premium agentic endpoint for anti-collusion-detector-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/anti-sandwich-slippage-mcp/api/process": {
      "post": {
        "summary": "Execute anti-sandwich-slippage-mcp",
        "description": "Premium agentic endpoint for anti-sandwich-slippage-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/anti-stuxnet-plc-mcp/api/process": {
      "post": {
        "summary": "Execute anti-stuxnet-plc-mcp",
        "description": "Premium agentic endpoint for anti-stuxnet-plc-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/api-key-load-balancer-mcp/api/process": {
      "post": {
        "summary": "Execute api-key-load-balancer-mcp",
        "description": "Premium agentic endpoint for api-key-load-balancer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/api-quota-balancer-mcp/api/process": {
      "post": {
        "summary": "Execute api-quota-balancer-mcp",
        "description": "Premium agentic endpoint for api-quota-balancer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/api-rate-limit-enforcer-mcp/api/process": {
      "post": {
        "summary": "Execute api-rate-limit-enforcer-mcp",
        "description": "Premium agentic endpoint for api-rate-limit-enforcer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/apify-native-mcp/api/process": {
      "post": {
        "summary": "Execute apify-native-mcp",
        "description": "Premium agentic endpoint for apify-native-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/apollo-io-lead-gen-mcp/api/process": {
      "post": {
        "summary": "Execute apollo-io-lead-gen-mcp",
        "description": "Premium agentic endpoint for apollo-io-lead-gen-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/app-store-builder-mcp/api/process": {
      "post": {
        "summary": "Execute app-store-builder-mcp",
        "description": "Premium agentic endpoint for app-store-builder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/apple-vision-pro-optimizer-mcp/api/process": {
      "post": {
        "summary": "Execute apple-vision-pro-optimizer-mcp",
        "description": "Premium agentic endpoint for apple-vision-pro-optimizer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ar-kit-blendshape-mcp/api/process": {
      "post": {
        "summary": "Execute ar-kit-blendshape-mcp",
        "description": "Premium agentic endpoint for ar-kit-blendshape-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ar-plane-detector-mcp/api/process": {
      "post": {
        "summary": "Execute ar-plane-detector-mcp",
        "description": "Premium agentic endpoint for ar-plane-detector-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/arabic-calligraphy-parser-mcp/api/process": {
      "post": {
        "summary": "Execute arabic-calligraphy-parser-mcp",
        "description": "Premium agentic endpoint for arabic-calligraphy-parser-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/arbitration-fee-splitter-mcp/api/process": {
      "post": {
        "summary": "Execute arbitration-fee-splitter-mcp",
        "description": "Premium agentic endpoint for arbitration-fee-splitter-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/architecture-dna-mcp/api/process": {
      "post": {
        "summary": "Execute architecture-dna-mcp",
        "description": "Premium agentic endpoint for architecture-dna-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/ashrae-compliance-mcp/api/process": {
      "post": {
        "summary": "Execute ashrae-compliance-mcp",
        "description": "Premium agentic endpoint for ashrae-compliance-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/atomic-swap-coordinator-mcp/api/process": {
      "post": {
        "summary": "Execute atomic-swap-coordinator-mcp",
        "description": "Premium agentic endpoint for atomic-swap-coordinator-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/audio-anonymizer-voice-scrambler-mcp/api/process": {
      "post": {
        "summary": "Execute audio-anonymizer-voice-scrambler-mcp",
        "description": "Premium agentic endpoint for audio-anonymizer-voice-scrambler-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/audio-description-mcp/api/process": {
      "post": {
        "summary": "Execute audio-description-mcp",
        "description": "Premium agentic endpoint for audio-description-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/audio-watermarking-detector-mcp/api/process": {
      "post": {
        "summary": "Execute audio-watermarking-detector-mcp",
        "description": "Premium agentic endpoint for audio-watermarking-detector-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/auth-sentinel-mcp/api/process": {
      "post": {
        "summary": "Execute auth-sentinel-mcp",
        "description": "Premium agentic endpoint for auth-sentinel-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/auto-telematics-policy-mcp/api/process": {
      "post": {
        "summary": "Execute auto-telematics-policy-mcp",
        "description": "Premium agentic endpoint for auto-telematics-policy-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/automated-amendment-negotiator-mcp/api/process": {
      "post": {
        "summary": "Execute automated-amendment-negotiator-mcp",
        "description": "Premium agentic endpoint for automated-amendment-negotiator-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/automated-debt-collector-mcp/api/process": {
      "post": {
        "summary": "Execute automated-debt-collector-mcp",
        "description": "Premium agentic endpoint for automated-debt-collector-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/automated-dpia-reporter-mcp/api/process": {
      "post": {
        "summary": "Execute automated-dpia-reporter-mcp",
        "description": "Premium agentic endpoint for automated-dpia-reporter-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/automated-invoice-factoring-gate-mcp/api/process": {
      "post": {
        "summary": "Execute automated-invoice-factoring-gate-mcp",
        "description": "Premium agentic endpoint for automated-invoice-factoring-gate-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/automated-xml-invoicing-mcp/api/process": {
      "post": {
        "summary": "Execute automated-xml-invoicing-mcp",
        "description": "Premium agentic endpoint for automated-xml-invoicing-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/automation-weaver-mcp/api/process": {
      "post": {
        "summary": "Execute automation-weaver-mcp",
        "description": "Premium agentic endpoint for automation-weaver-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/autonomous-haul-truck-mcp/api/process": {
      "post": {
        "summary": "Execute autonomous-haul-truck-mcp",
        "description": "Premium agentic endpoint for autonomous-haul-truck-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/autonomous-tractor-path-mcp/api/process": {
      "post": {
        "summary": "Execute autonomous-tractor-path-mcp",
        "description": "Premium agentic endpoint for autonomous-tractor-path-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/aws-builder-mcp/api/process": {
      "post": {
        "summary": "Execute aws-builder-mcp",
        "description": "Premium agentic endpoint for aws-builder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/aws-key-revoker-webhook-mcp/api/process": {
      "post": {
        "summary": "Execute aws-key-revoker-webhook-mcp",
        "description": "Premium agentic endpoint for aws-key-revoker-webhook-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/b2b-contract-renewal-mcp/api/process": {
      "post": {
        "summary": "Execute b2b-contract-renewal-mcp",
        "description": "Premium agentic endpoint for b2b-contract-renewal-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/b2b-lead-closer-mcp/api/process": {
      "post": {
        "summary": "Execute b2b-lead-closer-mcp",
        "description": "Premium agentic endpoint for b2b-lead-closer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/b2b-legal-contract-parser-mcp/api/process": {
      "post": {
        "summary": "Execute b2b-legal-contract-parser-mcp",
        "description": "Premium agentic endpoint for b2b-legal-contract-parser-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/backhaul-empty-return-mcp/api/process": {
      "post": {
        "summary": "Execute backhaul-empty-return-mcp",
        "description": "Premium agentic endpoint for backhaul-empty-return-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/backrun-arbitrage-blocker-mcp/api/process": {
      "post": {
        "summary": "Execute backrun-arbitrage-blocker-mcp",
        "description": "Premium agentic endpoint for backrun-arbitrage-blocker-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bacnet-ip-discovery-mcp/api/process": {
      "post": {
        "summary": "Execute bacnet-ip-discovery-mcp",
        "description": "Premium agentic endpoint for bacnet-ip-discovery-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/baidu-china-search-mcp/api/process": {
      "post": {
        "summary": "Execute baidu-china-search-mcp",
        "description": "Premium agentic endpoint for baidu-china-search-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bandwidth-micro-marketplace-mcp/api/process": {
      "post": {
        "summary": "Execute bandwidth-micro-marketplace-mcp",
        "description": "Premium agentic endpoint for bandwidth-micro-marketplace-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bankruptcy-asset-liquidator-mcp/api/process": {
      "post": {
        "summary": "Execute bankruptcy-asset-liquidator-mcp",
        "description": "Premium agentic endpoint for bankruptcy-asset-liquidator-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/barcode-qr-decoder-mcp/api/process": {
      "post": {
        "summary": "Execute barcode-qr-decoder-mcp",
        "description": "Premium agentic endpoint for barcode-qr-decoder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/base-to-polygon-relayer-mcp/api/process": {
      "post": {
        "summary": "Execute base-to-polygon-relayer-mcp",
        "description": "Premium agentic endpoint for base-to-polygon-relayer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/base64-payload-decoder-mcp/api/process": {
      "post": {
        "summary": "Execute base64-payload-decoder-mcp",
        "description": "Premium agentic endpoint for base64-payload-decoder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/batch-request-bundler-mcp/api/process": {
      "post": {
        "summary": "Execute batch-request-bundler-mcp",
        "description": "Premium agentic endpoint for batch-request-bundler-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/battery-return-home-mcp/api/process": {
      "post": {
        "summary": "Execute battery-return-home-mcp",
        "description": "Premium agentic endpoint for battery-return-home-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/battery-swap-station-mcp/api/process": {
      "post": {
        "summary": "Execute battery-swap-station-mcp",
        "description": "Premium agentic endpoint for battery-swap-station-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/behance-portfolio-scraper-mcp/api/process": {
      "post": {
        "summary": "Execute behance-portfolio-scraper-mcp",
        "description": "Premium agentic endpoint for behance-portfolio-scraper-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/best-and-final-offer-mcp/api/process": {
      "post": {
        "summary": "Execute best-and-final-offer-mcp",
        "description": "Premium agentic endpoint for best-and-final-offer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bestbuy-deal-alerter-mcp/api/process": {
      "post": {
        "summary": "Execute bestbuy-deal-alerter-mcp",
        "description": "Premium agentic endpoint for bestbuy-deal-alerter-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bft-swarm-vote-aggregator-mcp/api/process": {
      "post": {
        "summary": "Execute bft-swarm-vote-aggregator-mcp",
        "description": "Premium agentic endpoint for bft-swarm-vote-aggregator-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bias-auditor-mcp/api/process": {
      "post": {
        "summary": "Execute bias-auditor-mcp",
        "description": "Premium agentic endpoint for bias-auditor-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bias-drift-monitor-mcp/api/process": {
      "post": {
        "summary": "Execute bias-drift-monitor-mcp",
        "description": "Premium agentic endpoint for bias-drift-monitor-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bid-clarification-q-and-a-mcp/api/process": {
      "post": {
        "summary": "Execute bid-clarification-q-and-a-mcp",
        "description": "Premium agentic endpoint for bid-clarification-q-and-a-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bidding-strategy-optimizer-mcp/api/process": {
      "post": {
        "summary": "Execute bidding-strategy-optimizer-mcp",
        "description": "Premium agentic endpoint for bidding-strategy-optimizer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/binance-orderbook-mcp/api/process": {
      "post": {
        "summary": "Execute binance-orderbook-mcp",
        "description": "Premium agentic endpoint for binance-orderbook-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/binary-exploitation-shield-mcp/api/process": {
      "post": {
        "summary": "Execute binary-exploitation-shield-mcp",
        "description": "Premium agentic endpoint for binary-exploitation-shield-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bing-ai-results-mcp/api/process": {
      "post": {
        "summary": "Execute bing-ai-results-mcp",
        "description": "Premium agentic endpoint for bing-ai-results-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bio-data-parser-mcp/api/process": {
      "post": {
        "summary": "Execute bio-data-parser-mcp",
        "description": "Premium agentic endpoint for bio-data-parser-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bio-safe-audit-mcp/api/process": {
      "post": {
        "summary": "Execute bio-safe-audit-mcp",
        "description": "Premium agentic endpoint for bio-safe-audit-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/blendshape-mapper-mcp/api/process": {
      "post": {
        "summary": "Execute blendshape-mapper-mcp",
        "description": "Premium agentic endpoint for blendshape-mapper-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/blind-signature-voting-gate-mcp/api/process": {
      "post": {
        "summary": "Execute blind-signature-voting-gate-mcp",
        "description": "Premium agentic endpoint for blind-signature-voting-gate-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/blinded-macaroon-signer-mcp/api/process": {
      "post": {
        "summary": "Execute blinded-macaroon-signer-mcp",
        "description": "Premium agentic endpoint for blinded-macaroon-signer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bms-schedule-override-mcp/api/process": {
      "post": {
        "summary": "Execute bms-schedule-override-mcp",
        "description": "Premium agentic endpoint for bms-schedule-override-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/body-gesture-synthesizer-mcp/api/process": {
      "post": {
        "summary": "Execute body-gesture-synthesizer-mcp",
        "description": "Premium agentic endpoint for body-gesture-synthesizer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/boids-flocking-algorithm-mcp/api/process": {
      "post": {
        "summary": "Execute boids-flocking-algorithm-mcp",
        "description": "Premium agentic endpoint for boids-flocking-algorithm-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/boiler-water-temp-mcp/api/process": {
      "post": {
        "summary": "Execute boiler-water-temp-mcp",
        "description": "Premium agentic endpoint for boiler-water-temp-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bone-rig-retargeter-mcp/api/process": {
      "post": {
        "summary": "Execute bone-rig-retargeter-mcp",
        "description": "Premium agentic endpoint for bone-rig-retargeter-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/booking-hotel-prices-mcp/api/process": {
      "post": {
        "summary": "Execute booking-hotel-prices-mcp",
        "description": "Premium agentic endpoint for booking-hotel-prices-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/botnet-behavior-analyzer-mcp/api/process": {
      "post": {
        "summary": "Execute botnet-behavior-analyzer-mcp",
        "description": "Premium agentic endpoint for botnet-behavior-analyzer-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/breach-of-contract-mcp/api/process": {
      "post": {
        "summary": "Execute breach-of-contract-mcp",
        "description": "Premium agentic endpoint for breach-of-contract-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/brotli-prompt-compressor-mcp/api/process": {
      "post": {
        "summary": "Execute brotli-prompt-compressor-mcp",
        "description": "Premium agentic endpoint for brotli-prompt-compressor-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bug-bounty-hunter-mcp/api/process": {
      "post": {
        "summary": "Execute bug-bounty-hunter-mcp",
        "description": "Premium agentic endpoint for bug-bounty-hunter-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bulk-shipping-negotiator-mcp/api/process": {
      "post": {
        "summary": "Execute bulk-shipping-negotiator-mcp",
        "description": "Premium agentic endpoint for bulk-shipping-negotiator-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bulletproofs-range-check-mcp/api/process": {
      "post": {
        "summary": "Execute bulletproofs-range-check-mcp",
        "description": "Premium agentic endpoint for bulletproofs-range-check-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/bunker-fuel-prices-mcp/api/process": {
      "post": {
        "summary": "Execute bunker-fuel-prices-mcp",
        "description": "Premium agentic endpoint for bunker-fuel-prices-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/can-bus-decoder-mcp/api/process": {
      "post": {
        "summary": "Execute can-bus-decoder-mcp",
        "description": "Premium agentic endpoint for can-bus-decoder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/captcha-bypass-attestation-gate-mcp/api/process": {
      "post": {
        "summary": "Execute captcha-bypass-attestation-gate-mcp",
        "description": "Premium agentic endpoint for captcha-bypass-attestation-gate-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/carbon-aware-inference-router-mcp/api/process": {
      "post": {
        "summary": "Execute carbon-aware-inference-router-mcp",
        "description": "Premium agentic endpoint for carbon-aware-inference-router-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/carbon-tax-auto-withholder-mcp/api/process": {
      "post": {
        "summary": "Execute carbon-tax-auto-withholder-mcp",
        "description": "Premium agentic endpoint for carbon-tax-auto-withholder-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/carbon-tax-compliance-mcp/api/process": {
      "post": {
        "summary": "Execute carbon-tax-compliance-mcp",
        "description": "Premium agentic endpoint for carbon-tax-compliance-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
            "headers": {
              "Payment-Required": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64 encoded x402 payment details"
              }
            }
          }
        }
      }
    },
    "/cargo-insurance-broker-mcp/api/process": {
      "post": {
        "summary": "Execute cargo-insurance-broker-mcp",
        "description": "Premium agentic endpoint for cargo-insurance-broker-mcp. Requires x402 payment in Base Mainnet.",
        "responses": {
          "200": {
            "description": "Successful execution"
          },
          "402": {
            "description": "Payment Required. Decode the x402 Payment-Required base64 header.",
[...]
